body{
    font: 15px/1.5 Arial,Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    background-color:#f4f4f4 ;
  
  
  }
  
  /* Global */
  .container{
   color:#222222 ;
   margin-left: 20px;
  
  
  
  }
  
  ul{
   font-size: 12px;
   margin-right: 20px;
  
  }
  
  /* Header **/
  header{
    background:#35424a;
    color: #ffffff;
    padding-top:30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
    
  
  
  }
  
  header a{
    color:red 	;
  text-decoration: 10px;
  text-transform: 10px;
  font-size: medium;
    
  
  }
  
  header li{
    color:red	;
      text-decoration: underline;
      text-transform: uppercase;
      font-size: 16px;
  
  }
  
  header #branding{
    float: inline-start;
  }
  
  header #branding h1{
    margin: 12px;
  
  }
  
  header nav{
    margin-top: -120px;
      float:right;
      padding:20px;
  
  }
  
  header .highlight, header .current a{
    color:#FFCC33 ;
    font-weight: 100;
  
  
  
  }
  
  header a:hover{
    
    font-weight: 200;
  
  
  }
  
  footer{
    color: #FFCC33	;
    background:#444444 ;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
  }
  
  